<div class="gap-visual-<%= districtAnalysisID %> district-analysis">
  <div class="analysis">
    <h3><%= districtAnalysistitle %></h3>

    <p>
      A <strong>pro-<span class="efficency-gap-lean-party"></span></strong> efficency gap of <strong><span class="efficency-gap-percent"></span></strong>.

      <span class="dem-votes"></span> Democratic votes and <span class="rep-votes"></span> Republican votes.  <span class="dem-wins"></span> Democratic seats and <span class="rep-wins"></span> Republican seats.
    </p>

    <p class="note">For <span class="proxy-count"></span> (<span class="proxy-again"></span>) uncontested races, the proxied race is <span class="proxy-contest"></span>.</p>
  </div>

  <div class="legend">
    <div class="legend-title">Margin</div>

    <div class="legend-swatch">
      <div class="swatch-color" style="background-color: #9C0004;"></div>
      <div class="swatch-label">15+pts R</div>
    </div>

    <div class="legend-swatch">
      <div class="swatch-color" style="background-color: #F2614C;"></div>
      <div class="swatch-label">0+pts R</div>
    </div>

    <div class="legend-swatch">
      <div class="swatch-color" style="background-color: #67B4C2;"></div>
      <div class="swatch-label">0+pts D</div>
    </div>

    <div class="legend-swatch">
      <div class="swatch-color" style="background-color: #0D4673;"></div>
      <div class="swatch-label">15+pts D</div>
    </div>
  </div>

  <div class="map"></div>
</div>
