<div class="container">
  <div class="panel">
    <div class="panel-center panel-large">
      Currently the Supreme Court is hearing a case about gerrymandering in Wisconsin.
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      At the core of this case is the <strong>efficency gap</strong>.
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      The efficency gap measures wasted votes as a way to show partisan gerrymandering.
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      So what is a <em>wasted vote</em>?
      <br><br>It's a vote that if left out, would not effect the outcome.  It's either a vote of a losing party, or a vote that was not needed by the winning party?
    </div>
  </div>

  <div class="panel">
    <div class="panel-center">
      Say we have two districts and two parties/candidates in each.

      <div class="districts">
        <div class="district">
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p2"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p2"></i>
          <i class="p2"></i>
          <i class="p2"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p2"></i>
          <i class="p2"></i>
          <i class="p1"></i>
          <i class="p2"></i>

          <div class="panel-small">
            This district has 8 pinks votes and 7 green votes.  Pink wins by 1 vote.
            <br><br>
            This means that Pink did not waste any votes as they needed all of them to win, but Green wasted all 6 of their votes, as they did not win.
          </div>
        </div>

        <div class="district">
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p1"></i>
          <i class="p2"></i>
          <i class="p2"></i>

          <div class="panel-small">
            This district has 13 pinks votes and 2 green votes.  Pink wins by 11 vote.
            <br><br>
            This means that Pink wasted 5 votes, as all they needed to win was 8, but Green only wasted 2 votes.
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-center">
      So what?  There's no way to avoid wasted votes.
      <br><br>
      The key is when we look at them across all districts.

      <div class="districts">
        <div class="district">
          <p>Wasted votes</p>
          <span class="p1 p-text">0 votes</span>
          <span class="p2 p-text">7 votes</span>
        </div>

        <div class="district">
          <p>Wasted votes</p>
          <span class="p1 p-text">5 votes</span>
          <span class="p2 p-text">2 votes</span>
        </div>
      </div>

      We then look at how these numbers add up across both districts.  There are a total of 5 Pink votes wasted, which we divided by the total number of votes of 30, which gives us 17%.
      <br><br>
      There are a total of 6 Green votes wasted, giving us 20% of all votes.
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      The gives us a 3% pro Pink efficiency gap.  Which is not bad.
      <br><br>
      The case says a 7% efficency gap or more would lead to one party always keeping control.
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      So, what does the Wisconsin efficency gap look like.
      <br><br>
      <em>Maybe a map or cartogram</em>
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      And what about the Minnesota State House.
      <br><br>
      <em>Maybe a map or cartogram</em>
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      And what about the Minnesota State Senate.
      <br><br>
      <em>Maybe a map or cartogram</em>
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      And what about the Minnesota State House.
      <br><br>
      <em>Maybe a map or cartogram</em>
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      And what about the Minnesota congressional delegation.
      <br><br>
      <em>Maybe a map or cartogram</em>
    </div>
  </div>
</div>
