<div class="container">
  <div class="panel">
    <div class="panel-center panel-large">
      <p>Currently the Supreme Court is hearing a case about gerrymandering in Wisconsin.</p>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center panel-large">
      <p>Let's look at a hypothetical set of districts.</p>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center">
      <p>Say we have a set of <%= content.example.districts.length %> districts, with a distribution of <%= _.sumBy(content.example.districts, 'p1') %> <%= content.example.p1Name %> voters and <%= _.sumBy(content.example.districts, 'p2') %> <%= content.example.p2Name %> voters.  In theory we would expect <%= content.example.p1Name %> to have more seats than <%= content.example.p2Name %> in our district body.</p>

      <div class="district-bar cf">
        <span class="voters voters-p1"
          style="background-color: <%= content.example.p1Color %>; width: <%= _.sumBy(content.example.districts, 'p1') / (_.sumBy(content.example.districts, (d) => { return d.p1 + d.p2; })) * 100 %>%"></span>
        <span class="voters voters-p2"
          style="background-color: <%= content.example.p2Color %>; width: <%= _.sumBy(content.example.districts, 'p2') / (_.sumBy(content.example.districts, (d) => { return d.p1 + d.p2; })) * 100 %>%"></span>
        <span class="midpoint"></span>
      </div>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center">
      <p>But, we can create districts that lead to more seats for the <%= content.example.p2Name %> party.</p>

      <% _.each(content.example.districts, (d) => { %>
        <div class="district-bar cf">
          <span class="voters voters-p1"
            style="background-color: <%= content.example.p1Color %>; width: <%= d.p1 / (d.p1 + d.p2) * 100 %>%"></span>
          <span class="voters voters-p2"
            style="background-color: <%= content.example.p2Color %>; width: <%= d.p2 / (d.p1 + d.p2) * 100 %>%"></span>
          <span class="midpoint"></span>
        </div>
      <% }) %>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center panel-large">
      <p>This is where the <strong>efficency gap</strong> comes in, which is at the core of the Supreme Court case.</p>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center panel-large">
      <p>The efficency gap measures wasted votes as a way to show partisan gerrymandering.</p>
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      <p>So what is a <em>wasted vote</em>?
      <br><br>It's a vote that if left out, would not effect the outcome.  It's either any vote of a losing party, or any vote that was not needed by the winning party?</p>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center">
      <p>How does that look in our hypothetical districts?  As you can see, there are far more <%= content.example.p1Name %> wasted votes.  Let's quanitify that.</p>

      <% _.each(content.example.districts, (d) => { %>
        <div class="district-bar cf">
          <% if (d.p2 > d.p1) { %>
            <span class="wasted" style="left: 0; width: 50%"></span>
          <% } %>
          <% if (d.p1 > d.p2) { %>
            <span class="wasted" style="left: 50%; width: 50%"></span>
          <% } %>

          <span class="voters voters-p1"
            style="background-color: <%= content.example.p1Color %>; width: <%= d.p1 / (d.p1 + d.p2) * 100 %>%"></span>
          <span class="voters voters-p2"
            style="background-color: <%= content.example.p2Color %>; width: <%= d.p2 / (d.p1 + d.p2) * 100 %>%"></span>
          <span class="midpoint"></span>
        </div>
      <% }) %>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center panel-large">
      <p><%= content.example.p1Name %> has a total of
      <%= _.sumBy(content.example.districts, (d) => {
        return d.p2 > d.p1 ? d.p1 : d.p1 - Math.floor(((d.p1 + d.p2) / 2) + 1);
      }) %>
      wasted votes, which is
      <%= _.sumBy(content.example.districts, (d) => {
        return d.p2 > d.p1 ? d.p1 : d.p1 - Math.floor(((d.p1 + d.p2) / 2) + 1);
      }) / _.sumBy(content.example.districts, (d) => { return d.p1 + d.p2; }) * 100 %>%
      of all the votes.

      While <%= content.example.p2Name %> has a total of
      <%= _.sumBy(content.example.districts, (d) => {
        return d.p1 > d.p2 ? d.p2 : d.p2 - Math.floor(((d.p1 + d.p2) / 2) + 1);
      }) %>
      wasted votes, which is
      <%= _.sumBy(content.example.districts, (d) => {
        return d.p1 > d.p2 ? d.p2 : d.p2 - Math.floor(((d.p1 + d.p2) / 2) + 1);
      }) / _.sumBy(content.example.districts, (d) => { return d.p1 + d.p2; }) * 100 %>%
      of all the votes.</p>

      <p>This gives us a
        <%=
        Math.round((_.sumBy(content.example.districts, (d) => {
          return d.p2 > d.p1 ? d.p1 : d.p1 - Math.floor(((d.p1 + d.p2) / 2) + 1);
        }) / _.sumBy(content.example.districts, (d) => { return d.p1 + d.p2; }) * 100) -
        (_.sumBy(content.example.districts, (d) => {
          return d.p1 > d.p2 ? d.p2 : d.p2 - Math.floor(((d.p1 + d.p2) / 2) + 1);
        }) / _.sumBy(content.example.districts, (d) => { return d.p1 + d.p2; }) * 100)) %>%
        pro-<%= content.example.p2Name %> efficency gap.
      </p>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center panel-large">
      <p>According to the case, anything more than 7% is significant and makes it near impossible to swing the majority of seats.</p>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center panel-large">
      <p>So, let's look at real numbers for Wisconsin</p>
      <img src="./assets/images/example-wisconsin-wp.png">
    </div>
  </div>


  <div class="panel">
    <div class="congress-2016-gap-visual">
      <div class="map"></div>
    </div>
  </div>


  <div class="panel">
    <div class="panel-center panel-large">
      And what about the Minnesota State Senate.
      <br><br>
      <em>Maybe a map or cartogram</em>
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      And what about the Minnesota State House.
      <br><br>
      <em>Maybe a map or cartogram</em>
    </div>
  </div>

  <div class="panel">
    <div class="panel-center panel-large">
      And what about the Minnesota congressional delegation.
      <br><br>
      <em>Maybe a map or cartogram</em>
    </div>
  </div>
</div>
